<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />

		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberPic" column="MEMBER_PIC" />
		<result property="regDate" column="REG_DATE" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberIsAdmin" column="MEMBER_IS_ADMIN" />

	</resultMap>
	
	<!-- 로그인 -->
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
</mapper>
