<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />

		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberPic" column="MEMBER_PIC" />
		<result property="regDate" column="REG_DATE" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberIsAdmin" column="MEMBER_IS_ADMIN" />

	</resultMap>
	
		<!-- 내가 예약한 장소 목록 상세조회 resultMap -->
	<resultMap type="MyReservation" id="myReservation_rm">
		
		<id property="reserveNo" column="RESERVE_NO"/>
		
		<result property="useDate" column="RESERVE_USE_DATE"/>
		<result property="useStart" column="RESERVE_USE_START"/>
		<result property="useEnd" column="RESERVE_USE_END"/>
		<result property="reserveDate" column="RESERVE_DATE"/>
		<result property="placeNo" column="PLACE_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="stateNo" column="STATE_NO"/>
		<result property="stateName" column="STATE_NAME"/>
		
		<result property="placeName" column="PLACE_NAME" />
		<result property="placeSummary" column="PLACE_SUMMARY"/>
		<result property="placeAddr" column="PLACE_ADDR" />
		<result property="placeContent" column="PLACE_CONTENT"/>
		<result property="placeCharge" column="PLACE_CHARGE" />
		<result property="placeDate" column="PLACE_DATE" />
		<result property="likeCount" column="LIKE_COUNT" />
		<result property="reviewCount" column="REVIEW_COUNT" />
		
		 <collection property="atList" column="PLACE_NO" javaType="java.util.ArrayList" ofType="Attachment" select="selectAttachment"/>
		 <collection property="tagList" column="PLACE_NO" javaType="java.util.ArrayList" ofType="Tag" select="selectTag"/>
	
	</resultMap>
	
	
	<resultMap type="Tag" id="tag_rm">
		<id property="tagNo" column="TAG_NO"/>
		<result property="tagName" column="TAG_NAME"/>
		<result property="placeNo" column="PLACE_NO"/>
	</resultMap>
	
		<!-- 파일 정보 조회용 resultMap -->
	<resultMap type="Attachment" id="attachment_rm">
		<id property="fileNo" column="FILE_NO"/>
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 이메일(ID) 중복 검사 -->
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER
		VALUES( SEQ_USER.NEXTVAL, #{memberEmail}, #{memberPw}, #{memberName},
				#{memberPhone}, #{memberPic}, DEFAULT, DEFAULT, DEFAULT )
	</insert>
	
	<!-- 현재 비밀번호 조회-->
	<select id="selectPassword" parameterType="_int" resultType="string">
		SELECT MEMBER_PW FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 회원탈퇴 -> 비번, 전화번호, 프로필사진은 임의로 변경하고 회원상태는 'N' 아이디와 이름은 기록 -->
	<update id="secession" parameterType="_int">
		UPDATE MEMBER SET  
		MEMBER_PW = 'secession_pw',
		MEMBER_PHONE ='010-0000-0000',
		MEMBER_PIC = DEFAULT,
		MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 탈퇴 회원 목록 추가 -->
	<insert id="secessionInsert" parameterType="Member">
		INSERT INTO UNREG_MEMBER
		VALUES( #{memberNo}, #{memberEmail}, DEFAULT, #{memberName},
				DEFAULT, DEFAULT, #{regDate}, DEFAULT, DEFAULT )
	</insert>
	
	<!-- 탈퇴 예정 회원 예약건 조회 -->
	<select id="selectReservation" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM RESERVATION
		WHERE MEMBER_NO = #{memberNo}
		AND (STATE_NO = 1 OR STATE_NO = 2)
	</select>
	
	<!-- 회원정보 수정  -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_NAME = #{memberName},
		MEMBER_PHONE = #{memberPhone}
		<if test="memberPic != null">
			, MEMBER_PIC = #{memberPic}
		</if>
		WHERE MEMBER_NO = #{memberNo}
	
	</update>
	
		<!-- 회원 비밀번호 변경 -->
	<update id="changePwd" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 태그조회(게시글상세) -->
	<select id="selectTag" parameterType="_int" resultMap="tag_rm">
		SELECT TAG_NAME FROM PLACE_TAG_VIEW WHERE PLACE_NO = #{placeNo}
	</select>
	<!-- 업로드된 이미지 조회 -->
	<select id="selectAttachment" parameterType="_int" resultMap="attachment_rm">
		SELECT * FROM ATTACHMENT WHERE PLACE_NO = #{placeNo} ORDER BY FILE_LEVEL
	</select>
	
	
	
	<!-- 이용 예정인 공간 조회 -->
	<select id="selectLatestPlace" parameterType="_int" resultMap="myReservation_rm">
	
		SELECT RESERVE_NO, R.PLACE_NO, PLACE_NAME, PLACE_SUMMARY, PLACE_CHARGE, RESERVE_USE_DATE,
			(SELECT COUNT(*) FROM LIKES L WHERE L.PLACE_NO = R.PLACE_NO) LIKE_COUNT,
			(SELECT COUNT(*) FROM REVIEW V WHERE V.PLACE_NO = R.PLACE_NO) REVIEW_COUNT
		FROM RESERVATION R
		JOIN PLACE P ON(R.PLACE_NO = P.PLACE_NO)
		LEFT JOIN PLACE_TAG PT ON(R.PLACE_NO = PT.PLACE_NO)
		LEFT JOIN TAG USING(TAG_NO)
		WHERE RESERVE_NO IN (
		    SELECT RESERVE_NO FROM (
		        SELECT RESERVE_NO
		        FROM RESERVATION
		        WHERE RESERVE_USE_DATE >= SYSDATE
		        AND MEMBER_NO = #{memberNo} 
		        ORDER BY RESERVE_USE_DATE)   
		    WHERE ROWNUM = 1
		)
		
	</select>
	
</mapper>
