<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="placeMapper">

	<!-- 파일 정보 조회용 resultMap -->
	<resultMap type="Attachment" id="attachment_rm">
		<id property="fileNo" column="FILE_NO"/>
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	<!-- place 조회용 resultMap -->
	<resultMap type="Place" id="place_rm">
		<id property="placeNo" column="PLACE_NO"/> 

		<result property="placeName" column="PLACE_NAME" />
		<result property="placeSummary" column="PLACE_SUMMARY"/>
		<result property="placeAddr" column="PLACE_ADDR" />
		<result property="placeContent" column="PLACE_CONTENT"/>
		<result property="placeCharge" column="PLACE_CHARGE" />
		<result property="placeDate" column="PLACE_DATE" />
		<result property="memberNo" column="MEMBERNO" />
		<result property="likeCount" column="LIKE_COUNT" />
		
		 <collection property="atList" column="PLACE_NO" javaType="java.util.ArrayList" ofType="Attachment" select="selectAttachment"/>
		 <collection property="tagList" column="PLACE_NO" javaType="java.util.ArrayList" ofType="Tag" select="selectTag"/>
	</resultMap >
	
	<!-- 예약가능시간 확인resultMap -->
	<resultMap type="PlaceAvailable" id="placeAvailable_rm">
		<id property="availableNo" column="AVAILABLE_NO"/>
		
		<result property="placeNo" column="PLACE_NO"/>
		<result property="start" column="AVAILABLE_START"/>
		<result property="end" column="AVAILABLE_END"/>
	
	</resultMap>
	
	<!--예약되어있는 시간 확인 resultMap  -->
	<resultMap type="Reservation" id="reservation_rm">
		
		<id property="reserveNo" column="RESERVE_NO"/>
		
		<result property="useDate" column="RESERVE_USE_DATE"/>
		<result property="useStart" column="RESERVE_USE_START"/>
		<result property="useEnd" column="RESERVE_USE_END"/>
		<result property="reserveDate" column="RESERVE_DATE"/>
		<result property="placeNo" column="PLACE_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="stateNo" column="STATE_NO"/>
	
	</resultMap>
	
	<resultMap type="Tag" id="tag_rm">
		<id property="tagNo" column="TAG_NO"/>
		<result property="tagName" column="TAG_NAME"/>
		<result property="placeNo" column="PLACE_NO"/>
	</resultMap>
	
	<!-- 좋아요 확인 -->
	<select id="likeCheck" parameterType="_int" resultType="_Int">
		SELECT COUNT(*) FROM LIKES WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 태그조회(게시글상세) -->
	<select id="selectTag" parameterType="_int" resultMap="tag_rm">
		SELECT TAG_NAME FROM PLACE_TAG_VIEW WHERE PLACE_NO = #{placeNo}
	</select>
	<!-- 업로드된 이미지 조회 -->
	<select id="selectAttachment" parameterType="_int" resultMap="attachment_rm">
		SELECT * FROM ATTACHMENT WHERE PLACE_NO = #{placeNo} ORDER BY FILE_LEVEL
	</select>
	
	<!-- 게시글 상세조회 (수정예정)  -->	
	<select id="placeView" parameterType="_int" resultMap="place_rm">
		SELECT * FROM PLACE_VIEW
		WHERE PLACE_NO = #{placeNo} AND PLACE_IS_AVAILABLE = 'Y' AND PLACE_STATUS = 'Y'
	</select>
	<!-- 판매자가 지정한 예약시간가능 얻어오기 -->
	<select id="getAvailable" parameterType="_int" resultMap="placeAvailable_rm">
		SELECT * FROM PLACE_AVAILABLE WHERE PLACE_NO = #{placeNo}
	</select>
	<!-- 장소 해당날짜 예약가능시간 얻어오기 -->
	<select id="getTimeList" parameterType="Reservation" resultMap="reservation_rm">
		SELECT * FROM RESERVATION WHERE PLACE_NO = #{placeNo} AND RESERVE_USE_DATE= #{useDate}
	</select>
	<!-- 좋아요 추가하기 -->
	<insert id="insertLike" parameterType="Likes">
		INSERT INTO LIKES VALUES(#{memberNo},#{placeNo},DEFAULT)
	</insert>
	<!-- 좋아요 삭제하기 -->
	<delete id="deleteLike" parameterType="Likes">
		DELETE LIKES WHERE MEMBER_NO = #{memberNo} AND PLACE_NO = #{placeNo}
	</delete>
</mapper>
