/* 내가 작성한 후기 목록 조회 */
.listform{
  height: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 2px solid grey;
  border-radius: 30px; 
}

.imgArea{
  height: 200px;
  overflow: hidden;
  border-radius: 30px; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.imgArea > img{
  width:250px;
	height: 225px;
	object-fit: cover;
}

.reviewDate{
  margin-bottom: 10px;
}

.listPlace{
  font-size: 30px;
}

.div-inline{
  display: inline-block;
}

.listRate{
  margin-right: 20px;
}

.listContent{
	height: 70px;
	overflow: hidden;
}

.listContent > a{
	text-decoration:none !important;
	color: black !important;
	cursor: pointer;
}

.listBtnArea{
  margin-bottom: 12px;
}

.listBtn{
	width: 100px;
	height: 32px;
	margin-top: 12px;
	margin-right: 20px;
}

.star i {
  color: gray;
  font-size: 25px;
}

#gold {
  color: #FFD700;
}

.pagination {
  justify-content: center;
}

/* 내가 작성한 후기 상세 조회*/

.placeDate{
  margin-top: 10px;
}

.viewAvgRate{
  margin-bottom: 0px !important;
  margin-top: 7px !important;
}

.profile > img{
  cursor: pointer;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  position: relative;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 10px;
}

.viewBtnArea{
	margin-bottom: 20px;
}

/* 내가 작성한 후기 작성 */
.contentInsert{
  height: 300px;
}

#stra{
	cursor:pointer;
}

#star a {
	text-decoration: none;
	color: gray;
   font-size: 30px;
}

#star a.on {
	color: #FFD700;
}

.star{
	border-radius: 5px;
}

.btnArea{
  margin-top: 20px;
}

.insertAvgRate{
	margin-top: 30px !important;
  	margin-bottom: 0px !important;
  	margin-top: 10px !important;
}

.starImg{
	cursor:pointer;
}

.updateBtn{
	display: inline-block;
}

/*후기 수정 화면*/
.updateAvgRate{
	margin-top: 30px !important;
  	margin-bottom: 0px !important;
  	margin-top: 10px !important;
}

/* 장소 후기 목록 */
.placeContent{
  	margin-bottom: 50px;
}

.curse{
	margin-top : 20px;
	margin-bottom : 20px;
}

.avgCount > i{
	font-size: 30px !important;
}

#red{
	color: red;
}
